
.logo {
    width: 70px;
    height: auto;
  }

.menu {
    background-color: #2E8B57; /* Gris claro#508D69 */
    color: #F2FFE9!important;
}

a {
  color: #F2FFE9;
}


.accordion-header:after {
  content: "🔻";

}

.accordion-header {
  position: relative;
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}

.accordion-header[aria-expanded="true"]:after {
  content: "🔺";

}

body {
  background-color:#F2FFE9;
  font-family: Arial, sans-serif;
}

body {
  background-color: #F2FFE9; /* Cambia el color según tus preferencias */
}