

<div class="container" >
    <div class="flex" *ngFor="let comentario of comentarios; let i = index">
    <p>Comentario: {{ comentario.comentario }}</p>
    <p>Puntuacion: {{ comentario.puntuacion }}</p>
    <p>Nombre del Servicio: {{comentario.servicio_nombre}}</p>
    <div>
        <a class="btn btn-secondary m-2" href="editar/resenia/{{comentario.id}}">Editar</a>
        <a class="btn btn-danger m-2" (click)="eliminarResenia(comentario.id)">Eliminar</a>
    </div>
    <hr>
    </div>
</div>

